.App {
  background-color: #212529;
  color: #FCFFF7;
  height: 100vh;
}

.App-header {
  background-color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.tab {
  display: inline-block;
  margin-left: 25px;
}
